.draggableContainer{
    display: flex;
    padding-top: 25px;
    .tasksListBox{
        padding: 10px;
        max-width: 50%;        
        flex: 1 0 auto;
        h3{
            text-align: center;
            width: 50%;
            margin: auto;
            font-size: 1em;
            color: #fff;
            padding: 10px;
            font-weight: bold;
        }
        &.todos h3{
            background-color: $purple;            
        }
        &.completed h3{
            background-color: $blue;
        }     
        .list-group{
            padding: 20px;
            min-height: 60vh;
            &.todos{
                background-color: rgba($purple, 0.3);
                //border-right: 4px solid $cyan;
            }
            &.completed{
                background-color: rgba($blue, 0.3);
                //border-left: 4px solid $cyan;
                .list-group-item{
                    background-color: #ddd;
                }
            }
            .list-group-item{
                cursor: pointer;
                margin-top: 10px;
                box-shadow: 0 8px 6px -6px black;
                padding-right: 25px;
                .deleteTask{
                    /*position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);*/
                    &:hover{
                        color: $red;
                    }
                }
                .editTask{
                    &:hover{
                        color: $blue;
                    }
                }
                .toggleDescription{
                    &.collapsed{
                        span{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }        
    }
}