<template>
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
              <h3>Delete Task</h3>
          </div>

          <div class="modal-body">
            <slot name="body">
              Are you sure?
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">              
              <button class="btn btn-primary" @click="$emit('delete')">
                Delete
              </button>
              <button class="btn btn-danger" @click="$emit('cancel')">
                Cancel
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
      
    }
</script>
