<template>
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
              <h3>Edit Task</h3>
          </div>

          <div class="modal-body">
            <div class='form-group p-2'>
                <input v-model='task.name' placeholder="Task Name" class='form-control mb-2'>
                <textarea rows='8' v-model='task.description' placeholder="Task Description" class='form-control'>
                </textarea>
            </div>
            <div class='text-center mb-4' v-if='name'>
                <button class='btn btn-success' v-on:click='createTask'>Create</button>
            </div>
          </div>

          <div class="modal-footer">
            <slot name="footer">              
              <button class="btn btn-success" @click="saveChanges">
                Save
              </button>
              <button class="btn btn-danger" @click="cancelChanges">
                Cancel
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
      data(){
          return {              
              name: '',
              description: '',
              task: Object.assign({}, this.toEditTask)
          }
      },
      props: {
          toEditTask: Object,
          token: String
      },
      methods: {         
          cancelChanges: function(){
              this.$emit('cancel');
          },
          saveChanges: async function(){
            let response = await axios.post("/api/task/" + this.task.id + "/update?api_token=" + this.token, {
                name: this.task.name,
                description: this.task.description,
                completed: this.task.completed,
            });
            if(response.status != 200){
              this.$emit('save', null);
              return;
            }
            this.$emit('save', this.task);
          }
      },
    }
</script>
