<template>  
  <div>
    <taskcreator @added='newTaskHandler' :token='token'></taskcreator>
    <div class="draggableContainer">
      <div class="tasksListBox todos">
        <h3>TODO</h3>
        <draggable data-todos='1' class="list-group todos" :list="list1" group="tasks"  @change="changeHandler" @end="onEnd">
          <div
            class="list-group-item"
            v-for="(element, index) in list1"
            :key="index"
            v-bind:id="element.id"
          >
            <div class='text-right'>
            <span class="fa fa-pencil editTask float-left" v-on:click='clickEditTask(element)'></span>
              <span class="fa fa-trash deleteTask" v-on:click='clickDeleteTask(element.id)'></span>
            </div>
            <b>{{ element.name }}</b>
            <div v-if='element.description' class='mt-2'>
              <div :id='"descOf"+element.id' class='collapse'>
                {{ element.description}}
              </div>
              <div data-toggle='collapse' :data-target='"#descOf"+element.id' class='text-right toggleDescription collapsed'>
                <span class='fa fa-angle-up'></span>
              </div>                                      
            </div>
          </div>        
        </draggable>
      </div>

      <div class="tasksListBox completed">
        <h3>COMPLETED</h3>
        <draggable data-todos='0' class="list-group completed" :list="list2" group="tasks" @change="changeHandler" @end="onEnd">
          <div
            class="list-group-item"
            v-for="(element, index) in list2"
            :key="element.name"
          >
            <div class='text-right'>
              <span class="fa fa-trash deleteTask" v-on:click='clickDeleteTask(element.id)'></span>
            </div>
            <b>{{ element.name }}</b>
            <div v-if='element.description' class='mt-2'>
              <div :id='"descOf"+element.id' class='collapse'>
                {{ element.description}}
              </div>
              <div data-toggle='collapse' :data-target='"#descOf"+element.id' class='text-right toggleDescription collapsed'>
                <span class='fa fa-angle-up'></span>
              </div>                                      
            </div>            
          </div>
        </draggable>
      </div>
      <deletetaskmodal v-if='showModalDelete' @delete='deleteTask' @cancel='closeModalDelete'></deletetaskmodal>
      <edittaskmodal :token='token' :toEditTask='toEditTask'v-if='showModalEdit' @save='editTask' @cancel='closeModalEdit'></edittaskmodal>
    </div>
  </div>
</template>
<script>

import draggable from 'vuedraggable';

export default {
  name: "two-lists",
  display: "Two Lists",
  order: 1,
  components: {
    draggable
  },
  data() {
    return {
      list1: this.todos,
      list2: this.completed,
      toDelete: null, //task's id, hook for deletion modal
      showModalDelete: false,
      showModalEdit: false,
      toEditTask: null, //task object, hook for editing modal
    };
  },
  props: {
    todos: Array,
    completed: Array,
    token: String //Api token
  },
  mounted(){
    console.log("mounted");
  },
  methods: {
    clickEditTask: function(task){
      this.toEditTask = task;
      console.log(task);
      this.showModalEdit = true;
    },
    editTask: function(newTask){
      if(newTask == null){
        window.alert("Something went wrong. Please refresh the page.");        
      }else{
        //only todos tasks can be updated
        this.list1 = this.list1.map(function(elm, index){
          if(elm.id == newTask.id){
            return newTask;
          }
          return elm;
        });
      }      
      this.showModalEdit = false;
    },
    closeModalEdit: function(){
      this.showModalEdit = false;
    },

    closeModalDelete: function(){
      this.showModalDelete = false;
    },
    clickDeleteTask: function(id){
      this.toDelete = id;
      this.showModalDelete = true;
    },
    deleteTask: async function(){
      let response = await axios.delete("/api/task/" + this.toDelete + "/delete" + "?api_token=" + this.token);
      if(response.status != 200){
        window.alert("Something went wrong. Please refresh the page.");
        return;
      }
      //delete the deleted task from the todos or completed list
      let taskId = this.toDelete;
      this.list1 = this.list1.filter(function(elm){
        return elm.id != taskId;
      });
      this.list2 = this.list2.filter(function(elm){
        return elm.id != taskId;
      });
      this.toDelete = false;
      this.showModalDelete = false;
    },
  
    newTaskHandler: function(newTask){
      this.list1.push(newTask);
    },
    changeHandler: async function(evt) {
      if(evt.added){        
        //evt.added.element is the dragged task
        var isCompleted = evt.added.element.completed;
        if(await this.updateTaskStatus(evt.added.element.id, isCompleted)){
          //update the element to be rendered
          evt.added.element.completed = !evt.added.element.completed;
        } else {
          window.alert("Something went wrong. Please refresh the page");
          return;
        }
      }      
    },
    onEnd: function(evt){
      if(!this.reorderList(evt.to.dataset.todos)){
        window.alert("Something went wrong. Please refresh the page.");
        return;
      }
    },
    
    updateTaskStatus: async function(taskId, isCompleted) {
      var action = isCompleted ? "todo" : "complete"
      try{
        let response = await axios.get("/api/task/" + taskId + "/" + action + "?api_token=" + this.token);
        if(response.status != 200){
          return false;
        }
        return this.reorderList(isCompleted);
      }catch(e){
        console.log(e);
        return false;
      }
    },
    reorderList: async function(list){
      //register the new order and send to the API      
      let sortOrder = [];
      if(list == 1){
        this.list1.map(function(elm, index){
          sortOrder.push({id:elm.id, order: index+1});
        });
      }else{
        this.list2.map(function(elm, index){
          sortOrder.push({id:elm.id, order: index+1});
        });
      }
      let response = await axios.post("/api/task/reorder" + "?api_token=" + this.token, {
        sortOrder: sortOrder
      });
      if(response.status != 200){
        return false;
      }
      return true;
    }
  }
};
</script>