<template>  
  <div class='container taskCreator'>
    <div class='card'>
        <div class='card-header addTaskHeader'
            :class="showCollapse ? 'collapsed' : null"
            :aria-expanded="showCollapse ? 'true' : 'false'"
            @click="showCollapse = !showCollapse"
        >
            Add Task
            <span class='fa fa-plus' v-if='!showCollapse'></span>
            <span class='fa fa-minus' v-if='showCollapse'></span>
        </div>
        <transition name="slide-fade">
            <div v-if="showCollapse" class="mt-2">
                <div class='form-group p-2'>
                    <input v-model='name' placeholder="Task Name" class='form-control mb-2'>
                    <textarea v-model='description' placeholder="Task Description" class='form-control'>
                    </textarea>
                </div>
                <div class='text-center mb-4' v-if='name'>
                    <button class='btn btn-success' v-on:click='createTask'>Create</button>
                </div>
            </div>            
        </transition>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        showCollapse: false,
        name: null,
        description: null
      }
    },
    props: {
        token: String
    },
    methods: {
        createTask: async function(){
            let response = await axios.post("api/task/create?api_token=" + this.token, {
                name: this.name,
                description: this.description
            });
            if(response.status != 201){
                window.alert("Something went wrong. Please refresh the page.");
                return;
            }
            this.name = '';
            this.description = '';
            this.showCollapse = false;
            this.$emit('added', response.data);
        }
    }    
  }
</script>